/* ====== CHART TOP LEVEL ITEMS =========================================================== */
.chart {
    -fx-padding: 5px;
}
.chart-content {
    -fx-padding: 10px;
}
.chart-title {
    -fx-font-size: 1.4em;
}
.chart-legend {
   -fx-background-color:  #cccccc, #eeeeee;
   -fx-background-insets: 0,1;
   -fx-background-radius: 6,5;
   -fx-padding: 6px;
}
 
/* ====== AXIS ============================================================================ */
.axis {
    -fx-tick-label-font: 0.833333em System; /* 10 pix */
    -fx-tick-label-fill: -fx-text-background-color;
}
.axis:top {
    -fx-border-color: transparent transparent #666666 transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent #666666;
}
.axis:bottom {
    -fx-border-color: #666666 transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent #666666 transparent transparent;
}
.axis-tick-mark {
    -fx-fill: null;
    -fx-stroke: #666666;
}
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #AAAAAA;
}
 
.axis .text {
  -fx-font-smoothing-type: lcd;
}
 
/* ====== CHART PLOT BACKGROUND =========================================================== */
.chart-plot-background {
    -fx-background-color: #f5f5f5;
}
.chart-vertical-grid-lines {
    -fx-stroke: #dddddd;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #dddddd;
}
.chart-alternative-column-fill {
    -fx-fill: #eeeeee;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.chart-alternative-row-fill {
    -fx-fill: #eeeeee;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.chart-vertical-zero-line {
    -fx-stroke: #999999;
}
.chart-horizontal-zero-line {
    -fx-stroke: #999999;
}
/* ====== SCATTER CHART =========================================================== */
.chart-symbol { /* solid circle */
    -fx-background-color: #f9d900;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color1.chart-symbol { /* solid square */
    -fx-background-color: #a9e200;
    -fx-background-radius: 0;
}
.default-color2.chart-symbol { /* solid diamond */
    -fx-background-color: #22bad9;
    -fx-background-radius: 0;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}
.default-color3.chart-symbol { /* cross */
    -fx-background-color: #0181e2;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M2,0 L5,4 L8,0 L10,0 L10,2 L6,5 L10,8 L10,10 L8,10 L5,6 L2,10 L0,10 L0,8 L4,5 L0,2 L0,0 Z";
}
.default-color4.chart-symbol { /* solid triangle */
    -fx-background-color: #2f357f;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M5,0 L10,8 L0,8 Z";
}
.default-color5.chart-symbol { /* hollow circle */
    -fx-background-color: #860061, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color6.chart-symbol { /* hollow square */
    -fx-background-color: #c62b00, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0;
}
.default-color7.chart-symbol { /* hollow diamond */
    -fx-background-color: #ff5700, white;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 2.5;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}
 
/* ====== LINE CHART =========================================================== */
.chart-line-symbol {
    -fx-background-color: #f9d900, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.chart-series-line {
    -fx-stroke: #f9d900;
    -fx-stroke-width: 4px;
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.3) , 8, 0.0 , 0 , 3 );
}
.default-color0.chart-line-symbol { -fx-background-color: #f9d900, white; }
.default-color1.chart-line-symbol { -fx-background-color: #a9e200, white; }
.default-color2.chart-line-symbol { -fx-background-color: #22bad9, white; }
.default-color3.chart-line-symbol { -fx-background-color: #0181e2, white; }
.default-color4.chart-line-symbol { -fx-background-color: #2f357f, white; }
.default-color5.chart-line-symbol { -fx-background-color: #860061, white; }
.default-color6.chart-line-symbol { -fx-background-color: #c62b00, white; }
.default-color7.chart-line-symbol { -fx-background-color: #ff5700, white; }
.default-color0.chart-series-line { -fx-stroke: #f9d900; }
.default-color1.chart-series-line { -fx-stroke: #a9e200; }
.default-color2.chart-series-line { -fx-stroke: #22bad9; }
.default-color3.chart-series-line { -fx-stroke: #0181e2; }
.default-color4.chart-series-line { -fx-stroke: #2f357f; }
.default-color5.chart-series-line { -fx-stroke: #860061; }
.default-color6.chart-series-line { -fx-stroke: #c62b00; }
.default-color7.chart-series-line { -fx-stroke: #ff5700; }
 
/* ====== AREA CHART =========================================================== */
.chart-area-symbol {
    -fx-background-color: #f9d900, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px; /* makes sure this remains circular */
    -fx-padding: 3px;
}
.default-color0.chart-area-symbol { -fx-background-color: #f9d900, white; }
.default-color1.chart-area-symbol { -fx-background-color: #a9e200, white; }
.default-color2.chart-area-symbol { -fx-background-color: #22bad9, white; }
.default-color3.chart-area-symbol { -fx-background-color: #0181e2, white; }
.default-color4.chart-area-symbol { -fx-background-color: #2f357f, white; }
.default-color5.chart-area-symbol { -fx-background-color: #860061, white; }
.default-color6.chart-area-symbol { -fx-background-color: #c62b00, white; }
.default-color7.chart-area-symbol { -fx-background-color: #ff5700, white; }
.chart-series-area-line {
    -fx-stroke: #f9d900;
    -fx-stroke-width: 1px;
}
.default-color0.chart-series-area-line { -fx-stroke: #c2a902; }
.default-color1.chart-series-area-line { -fx-stroke: #88b501; }
.default-color2.chart-series-area-line { -fx-stroke: #22bad9; }
.default-color3.chart-series-area-line { -fx-stroke: #0181e2; }
.default-color4.chart-series-area-line { -fx-stroke: #2f357f; }
.default-color5.chart-series-area-line { -fx-stroke: #860061; }
.default-color6.chart-series-area-line { -fx-stroke: #c62b00; }
.default-color7.chart-series-area-line { -fx-stroke: #ff5700; }
.chart-series-area-fill {
    -fx-stroke: null;
    -fx-fill: #f9d90044;
}
.default-color0.chart-series-area-fill { -fx-fill: #f9d90044; }
.default-color1.chart-series-area-fill { -fx-fill: #a9e20044; }
.default-color2.chart-series-area-fill { -fx-fill: #22bad944; }
.default-color3.chart-series-area-fill { -fx-fill: #0181e244; }
.default-color4.chart-series-area-fill { -fx-fill: #2f357f44; }
.default-color5.chart-series-area-fill { -fx-fill: #86006144; }
.default-color6.chart-series-area-fill { -fx-fill: #c62b0044; }
.default-color7.chart-series-area-fill { -fx-fill: #ff570044; }
.area-legend-symbol {
    -fx-padding: 6px;
    -fx-background-radius: 6px; /* makes sure this remains circular */
    -fx-background-insets: 0, 3;
}
/* ====== BUBBLE CHART =========================================================== */
.bubble-legend-symbol {
    -fx-background-radius: 8px;
    -fx-padding: 8px;
}
.chart-bubble {
    -fx-bubble-fill: #f9d900;
    -fx-background-color: radial-gradient(center 50% 50%, radius 80%, derive(-fx-bubble-fill,20%), derive(-fx-bubble-fill,-30%));
}
.default-color0.chart-bubble { -fx-bubble-fill: #f9d900aa; }
.default-color1.chart-bubble { -fx-bubble-fill: #a9e200aa; }
.default-color2.chart-bubble { -fx-bubble-fill: #22bad9aa; }
.default-color3.chart-bubble { -fx-bubble-fill: #0181e2aa; }
.default-color4.chart-bubble { -fx-bubble-fill: #2f357faa; }
.default-color5.chart-bubble { -fx-bubble-fill: #860061aa; }
.default-color6.chart-bubble { -fx-bubble-fill: #c62b00aa; }
.default-color7.chart-bubble { -fx-bubble-fill: #ff5700aa; }
 
/* ====== BAR CHART =========================================================== */
/* TODO flip gradient vertical for negative bars */
.chart-bar {
    -fx-bar-fill: #22bad9;
    -fx-background-color: linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}
 
.negative.chart-bar {
   -fx-background-color: linear-gradient(to top, derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(to top, derive(-fx-bar-fill, 80%), derive(-fx-bar-fill,0%)),
                          linear-gradient(to top, derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
   -fx-background-radius: 0 0 5 5, 0 0 4 4, 0 0 3 3;
}
.bar-chart:horizontal .chart-bar {
    -fx-background-color: linear-gradient(to left, derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(to left, derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(to left, derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0;
}
.bar-chart:horizontal .negative.chart-bar {
    -fx-background-color: linear-gradient(to right, derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                          linear-gradient(to right, derive(-fx-bar-fill, 80%), derive(-fx-bar-fill, 0%)),
                          linear-gradient(to right, derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-radius: 5 0 0 5, 4 0 0 4, 3 0 0 3;
}
.default-color0.chart-bar { -fx-bar-fill: #f9d900; }
.default-color1.chart-bar { -fx-bar-fill: #a9e200; }
.default-color2.chart-bar { -fx-bar-fill: #22bad9; }
.default-color3.chart-bar { -fx-bar-fill: #0181e2; }
.default-color4.chart-bar { -fx-bar-fill: #2f357f; }
.default-color5.chart-bar { -fx-bar-fill: #860061; }
.default-color6.chart-bar { -fx-bar-fill: #c62b00; }
.default-color7.chart-bar { -fx-bar-fill: #ff5700; }
.bar-legend-symbol {
    -fx-padding: 8px;
}
/* ====== PIE CHART ============================================================== */
.chart-pie {
    -fx-pie-color: #2f357f;
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-pie-color,55%), derive(-fx-pie-color,-20%));
    -fx-background-insets: 0;
    -fx-border-color: derive(-fx-pie-color,-30%);
}
.chart-pie-label {
    -fx-padding: 3px;
}
.chart-pie-label-line {
    -fx-stroke: #aaaaaa;
    -fx-fill: #aaaaaa;
}
.default-color0.chart-pie { -fx-pie-color: #f9d900; }
.default-color1.chart-pie { -fx-pie-color: #a9e200; }
.default-color2.chart-pie { -fx-pie-color: #22bad9; }
.default-color3.chart-pie { -fx-pie-color: #0181e2; }
.default-color4.chart-pie { -fx-pie-color: #2f357f; }
.default-color5.chart-pie { -fx-pie-color: #860061; }
.default-color6.chart-pie { -fx-pie-color: #c62b00; }
.default-color7.chart-pie { -fx-pie-color: #ff5700; }
.negative.chart-pie {
    -fx-pie-color: transparent;
    -fx-background-color: white;
}
.pie-legend-symbol.chart-pie {
    -fx-background-radius: 8px;
    -fx-padding: 8px;
    -fx-border-color: null;
}