<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/atoms/Atoms.xml"
            primary="false">
      </toc>
      <tocIcon
            id="results"
            openIcon="help/atoms/images/results.png">
      </tocIcon>
   </extension> 
   
   
   <extension
        point="org.eclipse.help.contexts">
     <contexts
           file="help/TreezResultsDynamicHelpContexts.xml">
     </contexts>    
  </extension>   

</plugin>
