<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-6r [%t] %-5p %c{1} %x  : %m%n"/>
        </layout>
    </appender>
    <appender name="rollingFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="Logfile.log"/>
        <param name="MaxBackupIndex" value="0"/>
        <param name="MaxFileSize" value="5MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-6r [%t] %-5p %c{1} %x : %m%n"/>
        </layout>
    </appender>
    <appender name="TreezConsoleAppender" class="org.treez.core.console.TreezConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-6r [%t] %-5p %c{1} : %m%n"/>
        </layout>
    </appender>
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="TreezConsoleAppender"/>
    </root>
</log4j:configuration>